@use "src/styles/main.scss" as *;

.item_cont {
  margin-top: toRem(10);
  width: 33%;
  padding: 0 toRem(12);
  min-height: toRem(380);
  height: toRem(380);
  .item_wrapper {
    border-radius: 0 0 toRem(8) toRem(8);
    border: 1px solid $gray-c;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .img_wrapper {
      img {
        width: 100%;
        object-fit: cover;
        height: toRem(200);
      }
    }
    .text_wrapper {
      padding: toRem(10);
      display: flex;
      height: 50%;
      flex-direction: column;
      justify-content: space-between;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: toRem(10);
        .title {
          font-size: toRem(14);
        }
        .category {
          background-color: #1e293b;
          color: $white;
          padding: toRem(5);
          font-size: toRem(10);
          border-radius: toRem(12);
        }
      }
      .desc {
        font-size: toRem(12);
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .bottom {
        padding-top: toRem(15);
      }
    }
  }
}
