@use "src/styles/main.scss" as *;

.header_wrapper{
    box-shadow: toRem(6) toRem(1) toRem(16) $gray-c;
    text-align: left;
    float: right;
    width: 100%;
    height: toRem(70);
    display: flex;
    align-items: center;
    .w-50{
        width: 50%;
    }
    .header_btn{
        border: 1px solid $primary;
        padding: toRem(5);
        border-radius: toRem(8);
    }
    
}