@use "src/styles/main.scss" as *;

.header_wrapper{
    padding: toRem(10) 0;
    box-shadow: toRem(6) toRem(1) toRem(16) #ccc;
    text-align: left;
    float: right;
    width: 100%;
    height: toRem(70);
    .w-50{
        width: 50%;
    }
    
}