@use "src/styles/main.scss" as *;

.sidebar_container{
    padding: toRem(10);
    border-right: 1px solid #e5e7eb;
    background-color: $white;
    position: fixed;
    width: toRem(220);
    height: 100%;
    padding: toRem(30) toRem(20) 0 toRem(20);
    .sidebar_item{
        padding: toRem(10) 0;
        cursor: pointer;

        p{
            color: $black;
            &:hover{
                color: $primary;
            }

            &.active_side{
                color: $primary;
            }
        }
    }
}
.show-btn{
    display: none;
    padding: toRem(20);
    position: fixed;
}
.menu-line{
    width: toRem(20);
    height: toRem(2);
    background-color: $black;
    margin: toRem(2) 0;
}