@use "src/styles/main.scss" as *;

.sidebar_container{
    padding: toRem(10);
    border-right: 1px solid #e5e7eb;
    position: fixed;
    width: toRem(220);
    height: 100%;
    padding: toRem(30) toRem(20) 0 toRem(20);
    .sidebar_item{
        padding: toRem(10) 0;
        cursor: pointer;
        p{
            color: $black;
            &:hover{
                color: $primary;
            }
        }
    }
}